@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 5px solid red;
  /* overflow: hidden; */
  position: relative;
}

/* slide start */

.container .thumbs {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.container .thumbs .swiper-slide {
  width: 100%;
  height: 100%;
}
.container .thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

/* thumb start */

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
}

.slide .swiper-wrapper {
  flex-direction: column;
  justify-content: space-around;
}

.slide .swiper-wrapper .swiper-slide {
  width: 100% !important;
  height: 20%;
}
.slide .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-slide-thumb-active {
  border: 3px solid blue;
  box-sizing: border-box;
}
